In [3]:
import numpy as np

In [4]:
import pandas as pd
import tensorflow

In [5]:
df=pd.read_csv("sequence_and _sequence_token.csv")

In [6]:
df

    Sequence_token                                           sequence
0              [1]  CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTG...
1              [2]  TAATTACTGTCGTTGACAGGACACGAGTAACTCGTCTATCTTCTGC...
2              [3]  TTGCAGCCGATCATCAGCACATCTAGGTTTCGTCCGGGTGTGACCG...
3              [4]  CCTGGTTTCAACGAGAAAACACACGTCCAACTCAGTTTGCCTGTTT...
4              [5]  GTGGCTTTGGAGACTCCGTGGAGGAGGTCTTATCAGAGGCACGTCA...
..             ...                                                ...
421          [422]  CAGACCACACAAGGCAGATGGGCTATATAAACGTTTTCGCTTTTCC...
422          [423]  GTGCAGAATGAATTCTCGTAACTACATAGCACAAGTAGATGTAGTT...
423          [424]  TTAATCAGTGTGTAACATTAGGGAGGACTTGAAAGAGCCACCACAT...
424          [425]  GATCGAGTGTACAGTGAACAATGCTAGGGAGAGCTGCCTATATGGA...
425          [426]  TTTAGTAGTGCTATCCCCATGTGATTTTAATAGCTTCTTAGGAGAA...

[426 rows x 2 columns]

In [7]:
sequences=df["Sequence_token"]
sequences

0        [1]
1        [2]
2        [3]
3        [4]
4        [5]
       ...
421    [422]
422    [423]
423    [424]
424    [425]
425    [426]
Name: Sequence_token, Length: 426, dtype: object

In [19]:
features=[]
labels=[]
training_length=5
#len(seq)

In [20]:
for seq in sequences:
    for i in range(training_length,len(seq)):
        extract=seq[i-training_length:i+1]
        features.append(extract[:-1])
        labels.append(extract[-1])

In [21]:
features

[]

In [16]:
features=np.array(features)

In [17]:
features

array([], dtype=float64)

In [18]:
features.shape

(0,)

In [37]:
import nltk
nltk.download(('punkt'))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mukul\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [41]:
sequence=df['sequence']
sequence.shape

(426,)

In [42]:
from nltk.tokenize import word_tokenize
tokens=word_tokenize(sequence[100][:10])

In [43]:
vocabulary=set(tokens)

In [44]:
print(len(vocabulary))

1

SyntaxError: invalid syntax (<ipython-input-46-2e803d1d6ea2>, line 3)